/target
*.class

## STS ##
.apt_generated
*.classpath
.factorypath

.settings
.springBeans

## IntelliJ IDEA ##
.idea
*.iws
*.iml
*.ipr
## eclipse ##
*.classpath

/.settings


## JRebel ##
rebel.xml

## MAC ##
.DS_Store

## Other ##
/log
/logs
/temp
