/target
!.mvn/wrapper/maven-wrapper.jar

## STS ##
.apt_generated
*.classpath
.factorypath
*.project
.settings
.springBeans

## IntelliJ IDEA ##
.idea
*.iws
*.iml
*.ipr
## eclipse ##
*.classpath
*.project
/.settings


## JRebel ##
rebel.xml

## MAC ##
.DS_Store

## Other ##
/log
/logs
/temp
