<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<context:component-scan base-package="org.anyline"></context:component-scan>
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<!-- 
		<property name="driver">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="driverUrl">
			<value>jdbc:mysql://127.0.0.1:3306/anyline</value>
		</property>
		<property name="user" value="root" />
		<property name="password" value="000000" />
		 -->


		<property name="driver">
			<value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value>
		</property>
		<property name="driverUrl">
			<value>jdbc:sqlserver://127.0.0.1:36901;databaseName=inmvc</value>
		</property>
		<property name="user" value="sa"/>
		<property name="password" value="000000"/>
		
		
		<property name="maximumActiveTime" value="300000" />
		<property name="prototypeCount" value="0" />
		<property name="maximumConnectionCount" value="20" />
		<property name="minimumConnectionCount" value="5" />
		<property name="simultaneousBuildThrottle" value="3" />
		<property name="houseKeepingTestSql" value="SELECT 0" />
	</bean>
	<!-- 
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />
	 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
</beans>